/*style for the elements that actually make up the carousel*/
#displayBlock{
    margin: 0 auto;
    box-shadow: 7px 7px 15px 0px rgba(55,55,55,0.65);
}

#dynamicGallery{
    width: 800px;
    height: auto;
    display: block;
    margin: auto;
    position: relative;
}

.prev, .next{
    position: absolute;
    top: 50%;
    margin-top: -60px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 36px;
    transition: .5s ease;
    cursor: pointer;
    border-radius: 0 3px 3px 0;
}

.next{
    right: 0;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.dG-thumbs{
    cursor: pointer;
    float: left;
    style: none;
    margin: 5px;
    padding-bottom: 20px;
}

#dG-thumbnails{
    list-style-type: none;
    width: 700px;
    margin: 0 auto;
    padding-top: 10px;
    /*height: 130px;*/
}

.thumb-selected{
    -webkit-box-shadow:0px 0px 20px 3px #735959 ;
    -moz-box-shadow:0px 0px 20px 3px #735959 ;
    box-shadow:0px 0px 20px 3px #735959 ;
}


/*styling elements for stuff on the demo page that's NOT part of the carousel code*/
body{
    font-family: helvetica;
}

h2{
    margin-left: 30px;
}
hr{
    width: 450px;
    border-top: 0;
    border-bottom: 2px solid rgba(80, 80, 80, .3);
    text-align: left;
    margin-left: 25px;
    margin-bottom: 50px;
}

#endNote{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    margin-top: 20px;
    padding-bottom: 10px;

}

#gitlink{
    padding-left: 5px;
}
